
body {
    background-color: #eee;
}

#body-content {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 80px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    height: 50px;
    width: 100%;
}

.navbar .site-title {
    color: #9b4dca;
    font-weight: 100;
    font-size: 28pt;
    padding-top: 4px;
    display: inline-block;
}

/* add more formatting around this so we don't have to include all of bootstrap */
.ui-select-container {
    background-color: white;
    width: 100%;
}

.ui-select-match {
    border-radius: 0.4rem;
    border: .1rem solid #d1d1d1;
    height: 38px;
    line-height: 38px;
}

.ui-select-match.btn-default-focus:focus {
    border: .1rem solid #9b4dca;
    outline: none;
}

.ui-select-toggle {
    width: 100%;
    display: inline-block;
}

.ui-select-placeholder, .ui-select-match-text {
    margin-left: 10px;
}

.ui-select-choices-group {
    list-style: none;
}

.ui-select-dropdown {
    border: 1px solid #9b4dca;
    border-top: none;
}

.ui-select-search {
    margin-top: 0;
}

.ui-select-search:focus {
    border-radius: 0.4rem 0.4rem 0 0;
}

.ui-select-choices-row:nth-child(odd) {
    background-color: #f8f8f8;
}

.navbar .github-logo {
    height: 50px;
    float: right;
}

img.site-icon {
    height: 30px; 
    vertical-align: middle;
}

ul.list-unstyled li, ol.list-unstyled li {
    list-style: none;
}

select {
    border: 1px solid #9b4dca;
}

input, .ui-select-match-text {
    font-weight: 300;
    font-family: "Roboto";
    font-size: 1em;
    color: black;
    margin-bottom: 0;
    margin-top: 15px;
}

form {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

form input[type=submit] {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

form input[type=submit]:hover {
    color: #ffa500;
}

.footer-title {
    color: #9b4dca;
    font-weight: 100;
    font-size: 28pt;
    padding-top: 4px;
}

#footer p {
    color: #303c36;
}

a {
    color: #9b4dca;
}

@media (max-width: 800px) {
    form {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    
    .navbar {
        height: 40px;
    }
    
    .navbar .site-title {
        font-size: 20pt;
    }
    
    .navbar .github-logo {
        height: 40px;
    }
}

@media (max-width: 400px) {
    
    .navbar .site-title {
        font-size: 15pt;
        padding-top: 8px;
    }
}
