
body {
    background-color: #eee;
}

#body-content {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 80px;
}

.navbar {
    height: 50px;
    width: 100%;
}

.navbar .site-title {
    color: #9b4dca;
    font-weight: 100;
    font-size: 28pt;
    padding-top: 4px;
    display: inline-block;
}

.navbar .github-logo {
    height: 50px;
    float: right;
}

ul.list-unstyled li, ol.list-unstyled li {
    list-style: none;
}




.select2 {
    margin-bottom: 15px;
}

select {
    border: 1px solid #9b4dca;
}

input, .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 500;
    font-family: "Roboto";
}

.select2-selection__rendered.select2-selection--focus {
    border: 1px solid #9b4dca;
    border-radius: 4px;
}

.select2-dropdown {
    border: 1px solid #9b4dca;
    top: -3px;
    left: -20px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d1d1d1; /* used to be #aaa */
  outline: none;
  border-radius: 0.4rem; /* used to be 4px */
  height: 39px; } /* used to be 28px */
  .select2-container--default.select2-container--open .select2-selection--single, .select2-selection--single:focus {
    border: 1px solid #9b4dca;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 39px; } /* used to be 28px */
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px; /* used to be 26px */
    position: absolute; }

.select2-container--classic .select2-selection--single .container.select2-selection__rendered {
    line-height: 39px; } /* used to be 28px */




form {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.footer-title {
    color: #9b4dca;
    font-weight: 100;
    font-size: 28pt;
    padding-top: 4px;
}

a {
    color: #9b4dca;
}

@media (max-width: 800px) {
    input {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    
    .navbar {
        height: 40px;
    }
    
    .navbar .site-title {
        font-size: 20pt;
    }
    
    .navbar .github-logo {
        height: 40px;
    }
}

@media (max-width: 400px) {
    
    .navbar .site-title {
        font-size: 15pt;
        padding-top: 8px;
    }
}
