extends layout.pug

block content
  .container
    p.
      This tool allows you to receive email notifications when your
      posts on the Stack Exchange Network are edited.
      This includes <a href="http://stackoverflow.com/">Stack Overflow</a>, <a href="http://superuser.com/">Super User</a>,
      <a href="http://serverfault.com/">Server Fault</a>, and many more.
      
    p.
      Fill out the form below with the site you want notifications for, your user ID on that site, and an email address to notify.
      You'll immediately begin receiving email notifications any time another user modifies one of your posts.
      
    <div ng-controller="mainController">
      form(method="post")
      .row
        <ui-select ng-model="ctrl.person.selected" theme="bootstrap" ng-disabled="ctrl.disabled" title="Choose a person" append-to-body="true" style="width: 100%;">
          <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="site in sites">
            <div ng-bind-html="site.name | highlight: $select.search"></div>
            <small>
              test: <p>{{site.name}}</p>
            </small>
          </ui-select-choices>
        </ui-select>
          
      .row
        input(type="number", name="userId", placeholder="User ID")
      .row
        input(type="text", name="email", placeholder="Email Address")
      .row
        input(type="submit" value="Start Receiving Notifications")
    </div>
    