//- layout.pug
html
  head
    title Stack Exchange Edit Notifier
    link(rel="stylesheet", type="text/css", href="../content/bootstrap.min.css")
    block scripts
      script(src='/jquery.js')
      
  body
    
    block content
    block foot
      #footer
        p some footer content
        