//- layout.pug
html
  head
    title Stack Exchange Edit Notifier

    <link rel="stylesheet" href="/css/all.css" />

    block scripts
      script(src="/js/all.js")
      
  body
    <div class="navbar">
      <div class="container">
        <a href="/"><h1 class="site-title">Stack Exchange Edit Notifier</h1></a>
        <a href="https://github.com/johnnyRose/stackexchange-edit-notifier" title="Check out the code on my GitHub!" target="_blank">
          <img src="/images/GitHub-Mark-64px.png" alt="View Source on GitHub" class="github-logo" />
        </a>
      </div>
    </div>
    
    #body-content
      <div ng-app="StackExchangeEditNotifier">
        block content
      </div>
    
    block foot
      #footer
        div.container
          div.row
            .column-75
              .container
                h2.footer-title About
                p This is my first project built in Node.js, so I tried to experiment with several new things. 
                p.
                  First, and perhaps most critical, this app utilizes the <a href="https://api.stackexchange.com/">Stack Exchange API</a> 
                  and <a href="https://www.npmjs.com/package/node-cron">node-cron</a> together as the background worker. 
                  I'm using <a href="https://www.npmjs.com/package/sqlite3">SQLite 3</a> for my database and <a href="https://www.npmjs.com/package/knex">Knex.js</a>
                  as my schema and query builder. 
                  This app uses <a href="https://www.npmjs.com/package/express">Express.js</a> and 
                  <a href="https://www.npmjs.com/package/express-promise-router">express-promise-router</a> for its routing.
                p. 
                  Other tools I'm using include <a href="https://www.npmjs.com/package/body-parser">body-parser</a>,
                  <a href="https://www.npmjs.com/package/sleep">Sleep</a>, 
                  <a href="https://www.npmjs.com/package/pug">Pug</a>, 
                  <a href="https://www.npmjs.com/package/nodemon">Nodemon</a>,
                  and finally, <a href="https://milligram.github.io/">Milligram</a> for the beautiful CSS.
                  
                p You can check out my source code on <a href="https://github.com/johnnyRose/stackexchange-edit-notifier">GitHub</a>.
                
            .column-25
              .container
                h2.footer-title Contact
                ul.list-unstyled
                  li <a href="http://johnrosewicz.com">http://johnrosewicz.com</a>
                  li <a href="mailto:john.rosewicz@gmail.com">john.rosewicz@gmail.com</a>
